<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2014, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.0" name="org.jboss.legacy.naming.eap5">
    <resources>
        <resource-root path="lib/concurrent.jar"/>
        <resource-root path="lib/jboss-as-cluster.jar"/>
        <resource-root path="lib/jboss-as-j2se.jar"/>
        <resource-root path="lib/jboss-as-server.jar"/>
        <resource-root path="lib/jboss-as-system-jmx.jar"/>
        <resource-root path="lib/jboss-as-system.jar"/>
        <resource-root path="lib/jboss-common-core.jar"/>
        <resource-root path="lib/jboss-dependency.jar"/>
        <resource-root path="lib/jboss-ha-client.jar"/>
        <resource-root path="lib/jboss-ha-server-api.jar"/>
        <resource-root path="lib/jboss-ha-server-cache-spi.jar"/>
        <resource-root path="lib/jboss-kernel.jar"/>
        <resource-root path="lib/jboss-remoting.jar"/>
        <resource-root path="lib/jboss-security-spi.jar"/>
        <resource-root path="lib/jnpserver.jar"/>
        <resource-root path="lib/jboss-logging-spi.jar"/>
        <resource-root path="lib/jboss-serialization.jar"/>
    </resources>

    <dependencies>
        <module name="javax.transaction.api" export="true"/>
        <module name="javax.api" export="true"/>
        <module name="javax.transaction.api" export="true"/>
        <module name="org.jboss.jboss-transaction-spi" export="true"/>
    </dependencies>
</module>
